<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="Style.css">
        <title>calculadora</title>
</head>
<body>
    <div id="app">
        <div class="calculadora">
            <div :style="{fontSize:tamanhoLetra}"class="tela">
               {{valorDisplay}}
            </div><!--fechamento div tela-->
           <div class="configbotao">
                <div class="linha">
                    <button @click="getNumero('7')">7</button>
                    <button @click="getNumero('8')">8</button>
                    <button @click="getNumero('9')">9</button>
                    <button @click="operacoes('+')">+</button>
                </div><!--fechamneto linha1-->
                <div class="linha">
                    <button @click="getNumero('4')">4</button>
                    <button @click="getNumero('5')">5</button>
                    <button @click="getNumero('6')">6</button>
                    <button @click="operacoes('*')">x</button>
                </div><!--fechamneto linha2-->
                <div class="linha">
                    <button @click="getNumero('1')">1</button>
                    <button @click="getNumero('2')">2</button>
                    <button @click="getNumero('3')">3</button>
                    <button @click="operacoes('-')">-</button>
                </div><!--fechamneto linha3-->
                <div class="linha">
                    <button @click="getNumero('0')">0</button>
                    <button @click="decimal('.')">.</button>
                    <button @click="operacoes('/')">/</button>
                    <button @click="operacoes('=')">=</button>
                </div><!--fechamneto linha4-->
                <div class="linha">
                    <button @click="limpar" class="limpar">Limpar</button>
                </div><!--fechamento linha5-->
           </div><!--fechamneto configbotao-->
       </div><!--fechamento de calculadora-->
    <div><!--fechamento de div principal-->
        <script src="prosses.js"></script>
</body><!--fechamento body-->
</html><!--fechamento HTML-->
