.calculadora{
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    padding: 20px;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-image: linear-gradient(rgb(240, 237, 188), rgb(249, 176, 140), rgb(252, 224, 179));
    flex-direction: column;
    display: flex;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:rgba(255, 255, 255, 0.925);
    position: fixed;
    transform: translate(-50%, -50%);
}/*fechamento calculadora*/

.tela{
    background-color: rgb(255, 255, 255);
    color:black;
    height: 80px;
    width: 93%;
    border-radius: 10px;
    border: 1.5px solid rgb(0, 0, 0);
    padding: 10px;
    margin-bottom: 20px;
    /*font-size: 3rem;*/
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
.configbotao{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.linha{
    display: flex;
    margin-top:5px;
}

button{
    font-size: 2rem;
    width: 80px;/*--120--*/
    height: 80px;
    margin-right: 5px;
    border: 1px solid rgb(7, 8, 8);
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(233, 229, 179, 0.452);
    color: rgb(0, 0, 0);
}

button:hover{
    background-color: rgb(141, 174, 244);
}
.limpar{
    width: 120px;
}
.shape{
    width: 80px;/*--120--*/
    height: 80px;
}