<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site de Viagens</title>
    <link rel="stylesheet" href="style.css"/>
    <script src="vue.global.js"></script>
</head>
<body>
    <!--Conteúdo do cabeçalho da página-->
    <header>
        <!--secão de navegação do html-->
        <nav>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#destinos">Destinos</a></li>
                <li><a href="#contatos">Contatos</a></li>
            </ul><!--fechamento lista-->
        </nav><!--Fechamento de nav-->
    </header><!--Fechamento do hader-->

    <section id="home">
        <h1>{{mensagem}}</h1>
        <p>Explore the World with Us!!!</p>
    </section> <!--Fechamento seção-->

    <section id="destinos">

        <h2>Destinos Populares</h2>
        <div class="destino">
            <img src="imagens/Imagem8.jpg">
            <h3>Maldivas</h3>
            <p>Espalhado por 26 atóis que abrigam impressionantes 1.196 ilhas, o arquipélago das Maldivas é um dos lugares mais lindos do mundo. A perfeita combinação de areias albinas, mar azul-turquesa e hotéis de alto luxo, que oferecem desde spas suntuosos até bangalôs exclusivos, já diz muito o que fazer em Maldivas</p>
        </div><!--fechamento div destino 1-->

        <div class="destino">
                <img src="imagens/Imagem4.jpg">
                <h3>Gramado</h3>
                <p>Uma viagem inesquecível que fica marcada eternamente em nossas mentes e em nossos corações. Gramado proporciona uma viagem fantástica, pelas descobertas culturais, pelas aventuras surpreendentes e pelos novos conhecimentos adquiridos. As lembranças de uma viagem inesquecível nos marcam como cicatrizes de saudades na mente.</p>
        </div><!--Fechamento div destino 2-->
    </section><!--fechamento seçao destinos-->

    <section id="contatos">
        <h2>Contate-nos</h2>
        <form>
            <label for="nome">Nome:</label>
            <input type="text"
            v-model="nome" required>

            <label for="email">E-mail:</label>
            <input type="email"required>

            <label for="msg">Mensagem:</label>
            <textarea v-model="msg" required></textarea>

            <button type="submit">Enviar</button>

        </form><!--fechamento form-->
    <script src="process.js"></script>
        <!--configuraçao do roda pe da pagina-->
    <footer>
        <p> @2023 ....Blogtrip agradece sua visita! Todos os direitos reservados</p>
    </footer><!--fechamento footer-->


 <script src="process.js"></script>

</body>
</html>
