body*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(22, 16, 25);
    font-size: medium;
    color: rgb(125, 179, 226);
    padding: 20px;
}

nav ul{

    list-style-type: none;

}

nav ul li{
    display: inline;
    margin-right: 10%;

}

nav ul li a{
    color: aquamarine;
    text-decoration: rgb(64, 21, 104);    

}

section{
    padding: 20px;
}

.destinoGeral{
     
}
.destino{
    max-width: 80%;
    margin:0 auto ;
    margin-bottom: 20px;
    border: 1px solid rgb(44, 22, 22);
    border-radius: 10px;
    padding: 20px;
    display:flex;
    flax flex-direction: column;
    aling-itens: center;
    aling-text: center;
    
}
.destino img{
     max-width: 50%;
     height: 100%;
     margin-bottom: 15px;
     border-radius: 10px;

}
footer{
    background-color: rgb(4, 5, 5);
    color: aquamarine;
    padding: 2px;
    text-align: center;
}
form{
    max-width: 400px;
    margin: 0 auto;
}
label{
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

form input, textarea{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(44, 22, 22);
}

form button{
    padding: 10px;
    background-color: rgb(3, 3, 3);
    color: aquamarine;
    border: none;
    cursor: pointer;
}

form button:hover
