h1{
    font-size: 36px;
    color: rgb(138, 135, 225);
    margin-top: 0;
    margin-left: 15;
}
p{
    font-size: 1.2rem;
    line-height: 1.2;
    color: rgb(216, 181, 252);
}

body{
    background-color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
}

.container{
    margin: 0% auto;
    background-color: rgb(170, 144, 248);
    width: 80%;
    padding: 30px;
}

@media (max-width: 768px){
    .container{
        width: 90%;
        padding: 10px;
    }

    h1{
        font-size: 20px;
    }

    p{
        font-size: 16px;
    }
}
