body{
    /*estilos referentes ao corpo do ahdml*/
    background-color: rgb(111, 56, 69); 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(247, 241, 241);
}

h1{
    text-align:center;
    color:rgba(0, 0, 0, 1);
    margin-top: 80px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li{
    margin: 10px;
}

a{
    display: block;
    text-align: center;
    color: aliceblue;
    background-color: rgb(28, 19, 7);
    padding: 7px 15px;
    border-radius: 10px;
    text-decoration: none;  
    transition: all 0.3s ease-out;
}
   
