.erro{
    color: rgb(119, 0, 0);
}

.sucesso{
   color: rgb(4, 253, 4);
}
body{
   /*estilos referentes ao corpo do ahdml*/
   background-color: rgb(178, 162, 252); 
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
   color rgb(247, 241, 241);
   
}

h1{
   text-align:center;
   color:rgb(255, 255, 255);
   margin-top: 80px;

}
  #app{
    max-width: 500px;
    background-color:green rgb(126, 86, 153);
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 15px blueviolet;
    border-radius: 30px;
    text-align: center;
  }
  h1{
       margin-top: 0;
  }
  form{
       background-color: rgb(109, 67, 176);
       display: flex;
       flex-direction:column;
       font-size: 1.3rem;
       align-items: center;
       margin-bottom: 40px;
        max-width: 400px;
        background-color: blueviolet;
        margin: 0 auto;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 5px 4px;
        text-decoration: aqua;
  }
   label{
       margin-bottom: 2px;
       font-size: 30px;
   }
   input[type="text"], input[type="password"]{
       padding: 8px;
       border-radius: 10px;
       /* border: none; */
       border-style: solid;
       border-color: rgb(0, 0, 0);
       margin-bottom: 10px;
       font-size: 1.5rem;
   }

   input[type="text"]{width: 100%;}
   input[type="password"]{width: 100%;}
   button{
       padding: 3px;
       background-color: rgb(150, 131, 248);
       color: rgb(255, 255, 255);
       border-style: solid;
       border-color: rgb(9, 9, 10);
       border-radius:20%;


       cursor: pointer;
       font-size: 1.2rem;
       max-width: 100%;
   }
   button:hover{
       background-color: rgb(126, 73, 151);}
ol{
    margin-top: 10px;
    list-style-type:none ;
    align-items: center;
    justify-items: center;
    padding: 0;
    margin: 0;
}
li{
    border-style: solid;
    border-color: black;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    align-items: center;    
}
.botao{
    margin-right: 0px;
    margin-top: 0px;
}